body {
    background-image: repeating-linear-gradient(90deg, bisque, salmon);
}

* {
    font-family:'Times New Roman', Times, serif;
}
li {
    font-size: larger;
}
.return {
    font-size: smaller;
}